body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

h2 {
    color: green;
}
